body {
    margin: 0;
    background-color: #6a0dad;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

/* H1 w navbarze */
.navbar h1 {
    color: white;
    margin: 0;
}

/* prawa strona */
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* koszyk */
.cart-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* avatar */
.avatar {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.product img {
    width: 150px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #products {
        grid-template-columns: 1fr;
    }
}

.add-to-cart {
    margin-top: 10px;
    padding: 8px 12px;
    background: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background: #520b8a;
}
.auth-btn {
    color: white;
    text-decoration: none;
    background: #333;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.auth-btn:hover {
    background: #555;
}